/* ================== */
/*    Global Style    */
/* ================== */

:root {
  --warna-pemasukan: #1dcc70;
  --warna-pengeluaran: #ff396f;
}

/* Agar container tidak terlalu lebar */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}

body {
  background-color: whitesmoke;
}

/* ================== */
/*       Header       */
/* ================== */

#header {
  background-color: #e28743;                   
  clip-path: ellipse(87% 100% at 31.5% 0%);
  color: white;
  height: 200px;
  z-index: 1;
}
/* ================== */
/*      Saldo Box     */
/* ================== */

#saldo-box .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.total-saldo {
  width: 300px;
  border-radius: 10px 10px;
  background: white;
  margin-top: -70px;
  z-index: 2;
  border: 1px solid rgb(68 68 68 / 15%);
}

.mini-saldo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0;
  text-align: center;
  flex: 1 1;
}

.mini-saldo-pemasukan {
  border-bottom-left-radius: 10px;
  border-right: 1px solid #eee;
  background-color: var(--warna-pemasukan);
}

.mini-saldo-pengeluaran {
  border-bottom-right-radius: 10px;
  border-left: 1px solid #eee;
  background-color: var(--warna-pengeluaran);
}


/* ================== */
/*        Footer        */
/* ================== */

#footer {
  background-color: #e28743;
  clip-path: ellipse(189% 100% at 143.13% 100%);
}


.text-sm {
  font-size: 11px;
  color: #e28743;
  /* color: #412abe; */
}
.bg-utama, .btn-utama { 
  background-color: #e28743;
  /* background-color: #412abe; */
}

.btn-utama {
  color:white
}

td,th {
  border:none
}

#paket {
  border-bottom: 1px solid black;
}

.logo-joki {
  margin:20px
}

@media (min-width: 768px) {
  .img-sm {
      width: 100px;
      height: 100px;
    }

 
}
